body {
    background: white;
    height: 100vh;
}

#header {
    margin: 3%;
    padding: 20px;
    border: 15px;
    border-color: black;
    border-style: solid;
    padding-bottom: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#headerText {
    border: 0;
    margin: 0;
    padding: 0%;
    font-weight: bolder;
    font-size: 50px;
    display: inline-block;
}

.headerLinks {
    border: 0;
    margin: 0;
    padding: 0%;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    all: unset;
}

#headerLinksDiv {
    float: right;
    padding-top: 50px;
    font-size: medium;
    display: inline-block;
    text-decoration: none;
}

#gridTest {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background: gray;
}

#box1 {
    background: yellow;
grid-column-start: 1;
grid-column-end: 2;
grid-row: 6;

}